.loginCation {
  background: linear-gradient(
    to right,
    rgb(70, 53, 177, 0.8),
    rgb(70, 53, 177, 0.9)
  );
}
.loginContent {
  width: 30%;
}
.btnLogin,
.btnLogin:hover {
  background-color: rgb(70, 53, 177, 0.8);
  color: #fff;
}

@media screen and (max-width: 992px) {
  .loginContent {
    width: 80%;
  }
}
