body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.loginText {
  border-left: 5px solid rgb(70, 53, 177, 0.8);
}
.css-1t8x7v1 > .ps-menu-button:hover {
  background-color:  rgb(70, 53, 177, 0.8) !important;
}
.bgText {
  color: #4635b1cc;
}
.inputCursor {
  cursor: pointer !important;
}
.btnColor {
  background-color: #fff;
  color: #4635b1cc;
  border: 1px solid #4635b1cc;
}
.btnColor:hover{
  background-color: #4635b1cc;
  color: #fff;
}
.bgColor:hover{
  color: #4635b1cc;
}
input,
.bgMain {
  background-color: #f8f8f8 !important;
}
label,
.placeholder {
  color: #6c6c6c !important;
}
.imgProfile {
  position: absolute;
  top: -40px;
  right: 45%;
  width: 10%;
}
.notFoundImg{
  width: 40%;
}
.bgInput{
  background-color: #fff !important;
}

